/* header + image */

header {
		text-align: center;
		color: #89c2d9ff;
		/*	background-color: #012a4aff;*/		
		font-family: 'Roboto', sans-serif;
		padding: 110px 10px 0px 10px;
		line-height: 10px;
		line-height: 20px;
		background-image: url("images/leone-venter.jpg");
		background-size: cover;
		background-position: center;
}

img{
	width:  100%;
	height:  auto;
}

h2{
	color: darkgrey;
	text-shadow: 2px 2px 2px white ;
	font-size: 18px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.image-legend{
	font-size: 6px;
	text-align: right;
	padding-top: 70px;
	color: black;
}


/* intro */

.intro{
	font-family: 'Montserrat', sans-serif;
	margin: 20px auto;
	padding-right: 50px;
	padding-left: 50px;
	max-width: 1000px;
	text-align: center;
	text-anchor: end;
	line-height: 40px;
}

.more{
	font-family: 'Montserrat', sans-serif;
	color: #89c2d9ff;
	font-size: 20px;
	margin: auto;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 20px;
	max-width: 1000px;
	text-align: center;
	text-anchor: end;
}

.more-2{
	font-size: 30px;
}

/* image 2 - 1st way*/

/*.image-legend2{
	font-size: 6px;
	text-align: left;
	color: darkgrey;
	position: absolute;
  	bottom: 1px;
  	left: 50%;
  transform: translate(-50%, -50%);
 	right: 16px;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

/*.pic2{
	height: 400px;
	width: auto;
}*/



/* image work experiences*/

.card-title{
	text-align: center;
/*	padding-top: 100px;
*/	color: #89c2d9ff;
	text-shadow: 2px 2px 2px white ;
	font-size: 36px;
	font-family: 'Roboto', sans-serif;
}


.card-text-2{
	bottom: 2px;
	font-size: 6px;
	margin: auto;
	text-align: center;
}


/* "button" work experiences */

/*.work{
	color: whitesmoke;
	background-color: #89c2d9ff;
	font-size: 20px;
	width: 400px;
	align-items: center;
	padding: 10px 20px;
	margin: 10px auto;
	border-radius: 24px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	/*text-shadow: 2px 2px white;*/
/*	padding-top: 20px;
	padding-bottom: 20px;
}*/

/*.work2{
	color: whitesmoke;
	background-color: #89c2d9ff;
	font-size: 20px;
	width: 400px;
	align-items: center;
	padding: 10px 20px;
	margin: 10px auto;
	border-radius: 24px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	text-shadow: 2px 2px white;
	padding-top: 20px;
	padding-bottom: 20px;
}
*/

/*.work-exp{
	background-image: url("images/corinne-kutz.jpg");
	background-size: cover;
	background-position: center;
padding: 200px auto;}*/


/* work experiences text*/

.intro-2{
	font-family: 'Montserrat', sans-serif;
	margin: 30px auto;
	padding-right: 50px;
	padding-left: 50px;
	max-width: 800px;
	text-anchor: end;
	line-height: 35px;
	text-align: center;
}

.more-3{
	font-family: 'Montserrat', sans-serif;
	color: #89c2d9ff;
	font-size: 15px;
	margin: auto;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 5px;
	max-width: 1000px;
	text-align: center;
	text-anchor: end;
}

/* informations when opening the work experiences */

p{
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	padding-top: 10px ;
	margin: 10px 35px 10px 35px;
	max-width: 500px;
	text-align: center;
	min-height: 150px;
}

.click{
	text-align: center;
}

.btn-group-vertical{
	/*align-items: center;
	padding: 10px 10px;
	margin-left: 10%;
    margin-right: 10%;*/
    max-width: 550px;
    margin-top: 5px;
}

.container2 {
  position: relative;
  text-align: center;
}

/* interests */

.card-title-int{
	text-align: center;
	padding-top: 10px;
	color: #89c2d9ff;
	text-shadow: 2px 2px 2px white ;
	font-size: 36px;
	font-family: 'Roboto', sans-serif;
}


.card-text-int{
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 12px;
}

.card-text-int2{
	bottom: 2px;
	font-size: 6px;
	margin: 0;
	text-align: center;
	padding-top: 132px;
}

/*
.container3 {
  position: relative;
  text-align: center;
  color: white;
}*/


/* footer */

footer {
	text-align: center;
	padding: 20px;
	margin-top: 20px;
	
	background-color: whitesmoke;
	color: white; 
}

/*div{
	max-width: 600px;*/
/*	margin: 10px auto;
	padding: 10px;
}*/

/* CSS HEX */
--antique-brass: #cb997eff;
--desert-sand: #ddbea9ff;
--champagne-pink: #ffe8d6ff;
--ash-gray: #b7b7a4ff;
--artichoke: #a5a58dff;
--ebony: #6b705cff;

/* CSS HEX */
--prussian-blue: #012a4aff;
--indigo-dye: #013a63ff;
--indigo-dye-2: #01497cff;
--usafa-blue: #014f86ff;
--sapphire-blue: #2a6f97ff;
--celadon-blue: #2c7da0ff;
--blue-green: #468fafff;
--maximum-blue: #61a5c2ff;
--dark-sky-blue: #89c2d9ff;
--light-blue: #a9d6e5ff;

/* CSS HEX */
--seal-brown: #582f0eff;
--russet: #7f4f24ff;
--coyote-brown: #936639ff;
--camel: #a68a64ff;
--khaki-web: #b6ad90ff;
--laurel-green: #c2c5aaff;
--sage: #a4ac86ff;
--dark-olive-green: #656d4aff;
--rifle-green: #414833ff;
--kombu-green: #333d29ff;